/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities; 

.chat-bg-default {
  background-color: #f3f4f6;
}

.chat-bg-dark {
  background-color: #0f172a;
}

.chat-bg-blue {
  background-color: #dbeafe;
}

.chat-bg-image {
  background-image: url("/wallpapers/bg1.jpg");
  background-size: cover;
  background-position: center;
}
