@tailwind base;
@tailwind components;
@tailwind utilities; 

.chat-bg-default { background: #f3f4f6; }
.chat-bg-dark { background: #0f172a; }
.chat-bg-pattern1 {
  background-image: url("/patterns/pattern1.png");
}
